@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #02151e;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.random-images-container {
  position: fixed; /* Use fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0.5;
}

.random-image {
  position: absolute;
  transform-origin: center center;
}

.thank-you-container {
  text-align: center;
  background: #fff;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.thank-you-container h2 {
  font-size: 27px;
  margin-bottom: 20px;
}

.thank-you-container button {
  color: white;
  background: #3949ab;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  font-family: "Poppins", sans-serif;
}

.thank-you-container button:hover {
  background: #333B91;
  transform: scale(1.05);
}
