.rectangle-parent {
  position: absolute;
  top: 2px;
  left: 240px;
  background-color: var(--color-whitesmoke);
  width: 1200px;
  height: 870px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}

.frame-child {
  background-color: var(--color-whitesmoke);
  border-bottom: 0.5px solid var(--color-black);
  width: 1200px;
  height: 269px;
}

.frame-item {
  position: absolute;
  top: 143px;
  left: 503px;
  border-radius: 5px;
  background-color: #135fd0;
  width: 104px;
  height: 29px;
}

.edit-profile {
  position: absolute;
  top: 152px;
  left: 512px;
  font-size: 15px;
  display: flex;
  font-family: var(--font-open-sans);
  color: var(--color-gray-10);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 12px;
  cursor: pointer; 
}

.ed-judah-mingo {
  position: absolute;
  top: 102px;
  left: 503px;
  font-weight: 500;
  display: inline-block;
  width: 162px;
  height: 33px;
}

.frame-inner {
  position: absolute;
  top: 70px;
  left: 340px;
  border-radius: 50%;
  width: 129px;
  height: 129px;
  object-fit: cover;
}