body {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.overlap-wrapper {
  background-color: rgba(255, 255, 255, 1);
  width: 80%; 
  height: 100%; 
  max-width: 1440px; 
  margin: 0 auto; 
}
.OUTER-FRAME-FOR {
  position: absolute;
  width: 1440px;
  height: 872px;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.frame-16 {
  position: absolute;
  width: 520px;
  height: 300px;
  top: 342px;
  left: 407px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}

.modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
.join-now {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(112, 45, 255, 1);
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}
.overlap-2 {
  position: absolute;
  width: 519px;
  height: 63px;
  top: 230px;
  left: 0;
  background-color: #ffffff;
  transition: background-color 0.3s; 
}
.overlap-2:hover {
  background-color: #d3d3d3; 
}
.text-wrapper-9 {
  position: absolute;
  width: 290px;
  top: 17px;
  left: 57px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
.overlap-3 {
  position: absolute;
  width: 519px;
  height: 63px;
  top: 126px;
  left: 0;
  background-color: #ffffff;
  transition: background-color 0.2s; 
}
.overlap-3:hover {
  background-color: #d3d3d3; 
}
.share {
  position: absolute;
  width: 519px;
  height: 63px;
  top: 126px;
  left: 17px;
}
.overlap-4 {
  position: absolute;
  width: 519px;
  height: 63px;
  top: 63px;
  left: 0;
    transition: background-color 0.2s; 
}
.overlap-4:hover {
  background-color: #d3d3d3; 
}
.overlap-5 {
  position: absolute;
  width: 519px;
  height: 63px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.text-wrapper-10 {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 100px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}