body {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlap-wrapper {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 872px;
}

.overlap {
  position: relative;
  height: 872px;
  top: -2px;
}

.OUTER-FRAME-FOR {
  position: absolute;
  width: 1440px;
  height: 872px;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.frame {
  position: absolute;
  width: 840px;
  height: 872px;
  top: 2px;
  left: 272px;
}

.input-wrapper {
  display: flex;
  width: 840px;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 20px;
  left: 32px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  border: 1px solid;
  border-color: #cccccccc;
}

.img {
  position: relative;
  width: 16px;
  height: 16px;
}

.type-here {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(158, 158, 158, 1);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

.text-wrapper {
  position: absolute;
  width: 574px;
  height: 44px;
  top: 110px;
  left: 90px;
  font-family: "Secular One-Regular", Helvetica;
  font-weight: 400;
  color: #25498f;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-group {
  position: absolute;
  width: 519px;
  height: 583px;
  top: 164px;
  left: 142px;
  border-radius: 10px;
}

.div {
  position: absolute;
  width: 519px;
  height: 565px;
  top: 0;
  left: 0;
  background-color: #e2e2e2;
  border-radius: 10px;
  overflow: hidden;
}

.text-wrapper-2 {
  position: absolute;
  width: 153px;
  top: 36px;
  left: 96px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ellipse {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 26px;
  left: 31px;
  object-fit: cover;
}

.rectangle {
  position: absolute;
  width: 458px;
  height: 402px;
  top: 102px;
  left: 31px;
  object-fit: cover;
}

.text-wrapper-3 {
  position: absolute;
  width: 75px;
  top: 58px;
  left: 97px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #00000069;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-2 {
  position: absolute;
  width: 519px;
  height: 583px;
  top: 160px;
  left: 180px;
  background-color: #e2e2e2;
  border-radius: 10px;
  overflow: hidden;
}

.frame-3 {
  position: absolute;
  width: 349px;
  height: 39px;
  top: 521px;
  left: 86px;
}

.forward-arrow {
  position: absolute;
  width: 58px;
  height: 39px;
  top: 0;
  left: 209px;
}

.heart {
  position: absolute;
  width: 58px;
  height: 38px;
  top: 1px;
  left: 82px;
}

.red path {
  fill: red;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 872px;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px 0px 0px 20px;
  box-shadow: 12px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.frame-4 {
  display: flex;
  flex-direction: column;
  width: 146px;
  align-items: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.frame-5 {
  display: flex;
  width: 146px;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.logo {
  position: relative;
  width: 100px;
  height: 51px;
  object-fit: cover;
}

.text-wrapper-4 {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #25498f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.text-wrapper-5 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: rgba(63, 63, 63, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.btn,
.button,
.btn-2,
.btn-3,
.btn-4 {
  display: flex;
  align-items: center;
}

.btn,
.button,
.btn-2,
.btn-3,
.btn-4  {
  border: none;
  padding: 3px;
  background: none; 
}

.btn .img,
.button .img,
.btn-2 .img {
  margin-right: 5px;
}

.dashboard {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #202020;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-2 {
  color: #000000;
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard-3 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.name-destination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.name-destination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.mask-group {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.prashant-kumar-singh {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.software-developer {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(32, 32, 32, 1);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-10 {
  display: flex;
  flex-direction: column;
  width: 146px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.dashboard-4 {
  color: #f13e3e;
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-11 {
  display: inline-flex;
  flex-direction: column;
  height: 872px;
  align-items: center;
  gap: 33px;
  padding: 32px 24px;
  position: absolute;
  top: 0;
  left: 1144px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 20px 20px 0px;
  box-shadow: 12px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.frame-12 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 112px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.text-wrapper-6 {
  position: relative;
  align-self: stretch;
  width: 94px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile {
  display: flex;
  flex-direction: column;
  height: 155px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.mask-group-wrapper {
  position: relative;
  flex: 0 0 auto;
}

.mask-group-2 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -40px;
  left: -100px;
  border-radius: 80%;
}

.good-morning-ed-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 90%;
  flex: 0 0 auto;
}

.good-morning-ed {
  position: relative;
  align-self: stretch;
  margin-top: 100px;
  margin-left: -15px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


.frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.frame-14 {
  display: flex;
  width: 230px;
  align-items: center;
  justify-content: space-around;
  gap: 112px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-7 {
  position: relative;
  width: 229px;
  height: 10px;
  margin-top: 20px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.card-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
}

.name-destination-2 {
  display: flex;
  width: 224px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.prashant-kumar-singh-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.software-developer-2 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(95, 95, 95, 1);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-15 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(112, 45, 255, 1);
  border-radius: 8px;
}

.text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.frame-16 {
  position: absolute;
  width: 520px;
  height: 252px;
  top: 342px;
  left: 407px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}
.modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;

}

.join-now {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(112, 45, 255, 1);
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-2 {
  position: absolute;
  width: 519px;
  height: 63px;
  top: 189px;
  left: 0;
  background-color: #ffffff;
}

.text-wrapper-9 {
  position: absolute;
  width: 290px;
  top: 17px;
  left: 57px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-3 {
  position: absolute;
  width: 519px;
  height: 63px;
  top: 126px;
  left: 0;
  background-color: #ffffff;
}

.share {
  position: absolute;
  width: 29px;
  height: 47px;
  top: 8px;
  left: 17px;
}

.overlap-4 {
  position: absolute;
  width: 519px;
  height: 63px;
  top: 63px;
  left: 0;
  background-color: #d9d9d9;
}

.overlap-5 {
  position: absolute;
  width: 519px;
  height: 63px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.text-wrapper-10 {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 100px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}