<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login as Likha</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="login-likha.css">
    <script src="likha-login.js" defer></script>
</head>

<body>
    <div class="login-container">
        <h2>Login as Likha</h2>
        <form id="likha_login_form" class="form-container" action="login-likha.js">
            <label for="likha_email"><b>Email</b></label>
            <input type="text" id="likha_email" />

            <label for="likha_password"><b>Password</b></label>
            <input type="password" id="likha_password" />

            <button type="button" onclick="loginWithLikha()" class="btn">Login</button>
        </form>
    </div>
</body>

</html>