body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#heartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#heart {
  fill: gray;
  transition: fill 0.3s ease;
}

#heart:hover {
  transform: scale(1.2);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

#heartCount {
  margin-top: 5px;
  font-size: 20px;
  color: #808080;
}