<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../view/styles/login_as.css">
    <title>Login Form</title>
</head>
<body>
    <div class="login-container">
        <img src="../../assets/logo.png" alt="Logo Placeholder">
        <h2>Login as Postify</h2>
        <form>
            <input type="text" placeholder="Username" required>
            <div class="password-container">
                <input type="password" placeholder="Password" id="passwordInput" required>
                <span class="visibility-toggle" onclick="togglePasswordVisibility()">
                    <img src="../../assets/eye_closed.svg" alt="Closed Eye Icon" id="eyeClosed">
                    <img src="../../assets/eye_open.svg" alt="Open Eye Icon" id="eyeOpen" style="display: none;">
                </span>
            </div>
            <button type="submit">Login</button>
        </form>
        <button class="go-back-button" onclick="goBack()">Go Back</button>
    </div>
    <script src="../../view/js/login_as.js"></script>
</body>
</html>
