<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../view/styles/profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="profile-page">
      <div class="outer-frame-for-share-button">
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <div class="frame-item"></div>
          <b class="edit-profile">Edit Profile</b>
          <div class="ed-judah-mingo">Ed Judah Mingo</div>
          <img class="frame-inner" alt="" src="./images/icon-placeholder.png" />

          <div class="my-posts">My Posts</div>
        </div>
        <div class="ed-judah-mingo-parent">
          <div class="ed-judah-mingo1">Ed Judah Mingo</div>
          <img class="ellipse-icon" alt="" src="./images/icon-placeholder.png" />

          <img
            class="rectangle-icon"
            alt=""
            src="./images/post-placeholder.png"
          />

          <div class="taguig-city">Taguig City</div>
          <div class="forward-arrow-parent">
            <img
              class="forward-arrow-icon"
              alt=""
              src="./public/forward-arrow1@2x.png"
            />

            <img class="heart-icon" alt="" src="./images/Heart.svg" />
          </div>
          <div class="rectangle-div"></div>
          <img
            class="menu-vertical-icon"
            alt=""
            src="./images/Edit_Delete.svg"
          />
        </div>
      </div>
    </div>
  </body>
</html>