<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../view/styles/terms_of_service.css">
    <title>Terms of Service</title>
</head>
<body>
	<div class="frame-32">
    
        <h1>TERMS OF SERVICE</h1>

        <div class="content">
            <p>Welcome to Postify!</p>

            <p>Thank you for using the Postify platform and the features
				we make accessible to you as part of our platform's 
				service.</p>

            <p>The program enables you to discover other people, like and
				share your or their content, and connect, inform, and
				inspire others. Our service also serves as a platform for
				original content creators and advertisers to distribute
				their work. </p>

            <p>Our service is available to anyone above the age of 13, but
				anyone of any age can use it if they have permission
				from a parent or legal guardian. If you are considered to
				be a minor in your country, you must obtain permission
				from your parents or legal guardian.</p>

            <p>Our platform service also allows a corporation or organization
				to authorize an advertisement to represent their goods.</p>

            <p>Photos, branding, and text that do not violate the Community
				guidelines are permitted on our platform.</p>
        </div>

        <button class="back-button"onclick="goBack()">Back to Settings</button>

    
	</div>

    <script src="../../view/js/terms_of_service.js"></script>

</body>
</html>