.HOME-PAGE {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.HOME-PAGE .div {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 872px;
  position: relative;
}

.HOME-PAGE .sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 872px;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.HOME-PAGE .frame {
  display: flex;
  flex-direction: column;
  width: 146px;
  align-items: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.HOME-PAGE .frame-2 {
  display: flex;
  width: 146px;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.HOME-PAGE .logo {
  position: relative;
  width: 100px;
  height: 51px;
  object-fit: cover;
}

.HOME-PAGE .text-wrapper {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #25498f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

 .post-photo.HOME-PAGE .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.HOME-PAGE .div-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.HOME-PAGE .text-wrapper-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: rgba(63, 63, 63, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.post-photo .HOME-PAGE .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.btn,
.button,
.btn-2,
.btn-3,
.btn-4 {
  display: flex;
  align-items: center;
}

.btn,
.button,
.btn-2,
.btn-3,
.btn-4 {
  border: none;
  padding: 3px; 
  background: none; 
}

.btn .img,
.button .img,
.btn-2 .img,
.btn-3 .img,
.btn-4 .img {
  margin-right: 2px;
}


.HOME-PAGE .img {
  width: 16px;
  height: 16px;
  margin-right: 100px;
  vertical-align: middle;
}


.HOME-PAGE .dashboard {
  position: relative;
  flex: 1;
  margin-top: 1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #202020;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .dashboard-2 {
  color: #000000;
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .dashboard-3 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.post-photo .HOME-PAGE .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.HOME-PAGE .name-destination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.HOME-PAGE .name-destination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.HOME-PAGE .mask-group {
  position: relative;
  width: 24px;
  height: 24px;
}

.HOME-PAGE .frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.HOME-PAGE .prashant-kumar-singh {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .software-developer {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(32, 32, 32, 1);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .frame-7 {
  display: flex;
  flex-direction: column;
  width: 146px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.HOME-PAGE .dashboard-4 {
  color: #f13e3e;
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .frame-8 {
  position: absolute;
  width: 840px;
  height: 872px;
  top: 0;
  left: 303px;
}

.HOME-PAGE .input-wrapper {
  display: flex;
  width: 840px;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 20px;
  left: 0;
}

.HOME-PAGE .input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  border: 1px solid;
  border-color: #cccccccc;
}

.HOME-PAGE .type-here {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(158, 158, 158, 1);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

 .HOME-PAGE .text-wrapper-3 {
  position: absolute;
  width: 574px;
  height: 44px;
  top: 110px;
  left: 90px;
  font-family: "Secular One-Regular", Helvetica;
  font-weight: 400;
  color: rgba(32, 32, 32, 1);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.red path {
  fill: red;
}

.HOME-PAGE .overlap-group {
  position: absolute;
  width: 519px;
  height: 583px;
  top: 164px;
  left: 142px;
  border-radius: 10px;
}

.HOME-PAGE .frame-9 {
  position: absolute;
  width: 519px;
  height: 565px;
  top: 0;
  left: 0;
  background-color: #;
  border-radius: 10px;
  overflow: hidden;
}

.HOME-PAGE .text-wrapper-4 {
  position: absolute;
  width: 153px;
  top: 36px;
  left: 96px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .ellipse {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 26px;
  left: 31px;
  object-fit: cover;
}

.HOME-PAGE .rectangle {
  position: absolute;
  width: 458px;
  height: 402px;
  top: 102px;
  left: 31px;
  object-fit: cover;
}

.HOME-PAGE .text-wrapper-5 {
  position: absolute;
  width: 75px;
  top: 58px;
  left: 97px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #00000069;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.HOME-PAGE .menu-vertical {
  position: absolute;
  width: 27px;
  height: 29px;
  top: 38px;
  left: 468px;
}

.HOME-PAGE .forward-arrow {
  position: absolute;
  width: 58px;
  height: 33px;
  top: 516px;
  left: 402px;
}

.HOME-PAGE .frame-10 {
  position: absolute;
  width: 519px;
  height: 583px;
  top: 0;
  left: 0;
  background-color: #e2e2e2;
  border-radius: 10px;
  overflow: hidden;
}

.HOME-PAGE .frame-11 {
  position: absolute;
  width: 349px;
  height: 39px;
  top: 521px;
  left: 86px;
}

.HOME-PAGE .forward-arrow-2 {
  position: absolute;
  width: 58px;
  height: 39px;
  top: 0;
  left: 209px;
}

.HOME-PAGE .heart {
  position: absolute;
  width: 58px;
  height: 38px;
  top: 1px;
  left: 82px;
}

.HOME-PAGE .frame-12 {
  display: inline-flex;
  flex-direction: column;
  height: 872px;
  align-items: center;
  gap: 33px;
  padding: 32px 24px;
  position: absolute;
  top: 0;
  left: 1144px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.mask-group-wrapper {
  position: relative;
  flex: 0 0 auto;
}

.HOME-PAGE .mask-group-2 {
  width: 150px; /* adjust the width */
  height: 150px; /* adjust the height */
  border-radius: 50%; /* make it round */
  position: absolute;
  top: -30px; /* adjust the top position */
  left: 50px; /* adjust the left position */
}

.HOME-PAGE .mask-group-2 img {
  width: 100%; /* make sure the image fills the container */
  height: 100%;
  object-fit: cover; /* maintain aspect ratio */
}


.HOME-PAGE .frame-13 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 112px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.HOME-PAGE .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  width: 94px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.HOME-PAGE .profile {
  display: flex;
  flex-direction: column;
  height: 155px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.HOME-PAGE .good-morning-ed-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 90%;
  flex: 0 0 auto;
}

.HOME-PAGE .good-morning-ed {
  position: relative;
  align-self: stretch;
  margin-top: 100px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .frame-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.HOME-PAGE .frame-15 {
  display: flex;
  width: 230px;
  align-items: center;
  justify-content: space-around;
  gap: 112px;
  position: relative;
  flex: 0 0 auto;
}

.HOME-PAGE .text-wrapper-7 {
  position: relative;
  width: 299px;
  height: 10px;
  margin-top: 20px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .card-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
}

.HOME-PAGE .name-destination-2 {
  display: flex;
  width: 224px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.HOME-PAGE .prashant-kumar-singh-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(32, 32, 32, 1);
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .software-developer-2 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(95, 95, 95, 1);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-PAGE .frame-16 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(112, 45, 255, 1);
  border-radius: 8px;
}

.HOME-PAGE .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.HOME-PAGE.create-form-active {
    overflow: hidden;
}

.HOME-PAGE.create-form-active .create-post-form {
    top: 50%;
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
	position: fixed;
}

.HOME-PAGE.create-form-active .div {
}

#postContent {
    margin-bottom: 10px;
    width: 100%;
	
}

.post-photo {
    margin-top: 10px;
    image-rendering: pixelated;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
	background-color: #e2e2e2;
    z-index: 5;
    top: 300%;
    left: 300%;
	position: Absolute;
    top: 150px;
    transform: translate(-50%, -50%);
    padding: 20px;
    transition: top 0.3s, left 0.3s; 
	max-width: 1200px;
    margin: 0 auto;
}

.create-post-button:hover {
    background-color: #2980b9;
}

.HOME-PAGE {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.create-button-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}

.HOME-PAGE .create-post-form {
    background-color: #e2e2e2;
    z-index: 5;
    top: 300%;
    left: 300%;
	position: Absolute;
    top: 150px;
    transform: translate(-50%, -50%);
    padding: 20px;
    transition: top 0.3s, left 0.3s; 
	max-width: 1200px; 
    margin: 0 auto; 
	align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .create-post-form {
	max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}