body {
    font-family: 'Arial', 'Roboto', 'Comic sans', sans-serif;
    margin: 0;
    padding: 0;
}

.frame-child {
    position: relative;
    width: 49px;
    height: 51px;
    object-fit: cover;
}

.frame-group,
.postify {
    display: flex;
    align-items: center;
}

.postify {
    align-self: stretch;
    flex: 1;
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
}

.frame-group {
    width: 146px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 9px;
}

.overview {
    flex: 1;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
}

.overview-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
}

.home-button,
.create-button,
.notification-button,
.profile-button,
.account-button {
    width: 146px;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-xs);
}

.btn-parent,
.home-button,
.create-button,
.notification-button,
.profile-button,
.account-button {
    display: flex;
    align-items: center;
}

.btn-parent {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    color: var(--color-gray-100);
}

.frame-container,
.frame-parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.frame-container {
    align-self: stretch;
    align-items: flex-start;
    gap: var(--gap-3xs);
    color: var(--color-gray-90);
}

.frame-parent {
    width: 146px;
    align-items: center;
    gap: 48px;
}

.settings-button {
    align-self: stretch;
    border-radius: var(--br-21xl);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-5xs) 0;
    gap: var(--gap-xs);
    color: var(--color-gray-100);
}

.settings-button,
.logout-button,
.frame-div {
    display: flex;
    justify-content: flex-start;
}

.logout-button {
    align-self: stretch;
    border-radius: var(--br-21xl);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-5xs) 0;
    gap: var(--gap-xs);
    color: #f13e3e;
}

.frame-div {
    width: 146px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
    color: var(--color-gray-90);
}

.left-sidebar,
.your-profile {
    display: flex;
    align-items: center;
}

.left-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gray-10);
    box-shadow: var(--cards-long-default);
    width: 252px;
    height: 725px;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    box-sizing: border-box;
}

.your-profile-wrapper {
    position: absolute;
    top: 32px;
    left: 24px;
    width: 248px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.frame-item {
    position: absolute;
    top: 95px;
    left: 98px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.good-morning-ed {
    align-self: stretch;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
}

.good-morning-ed-judah-wrapper {
    position: absolute;
    top: 214px;
    left: 24px;
    width: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.right-sidebar {
    position: absolute;
    top: 0;
    left: 1144px;
    background-color: var(--color-gray-10);
    box-shadow: var(--cards-long-default);
    width: 296px;
    height: 725px;
    color: var(--color-gray-100);
}

.input,
.type-here {
    flex: 1;
    display: flex;
    align-items: center;
}

.type-here {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}

.input {
    border-radius: 12px;
    background-color: var(--color-gray-10);
    border: 1px solid rgba(204, 204, 204, 0.8);
    flex-direction: row;
    justify-content: center;
    padding: 20px 16px;
    gap: var(--gap-3xs);
}

.input-wrapper,
.posts {
    position: absolute;
    left: 26px;
    display: flex;
}

.input-wrapper {
    top: 32px;
    width: 840px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.posts {
    top: 122px;
    font-size: 30px;
    text-transform: capitalize;
    font-family: var(--font-secular-one);
    color: var(--color-gray-100);
    align-items: center;
    width: 574px;
    height: 44px;
}

.ed-judah-mingo {
    position: absolute;
    top: 36.5px;
    left: 96px;
    font-weight: 500;
    display: inline-block;
    width: 153px;
    height: 22px;
}

.frame-inner,
.rectangle-icon {
    position: absolute;
    left: 31px;
    object-fit: cover;
}

.frame-inner {
    top: 26.5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.rectangle-icon {
    top: 101.5px;
    width: 458px;
    height: 402px;
}

.taguig-city {
    position: absolute;
    top: 58.5px;
    left: 97px;
    font-size: 11px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.41);
    display: inline-block;
    width: 75px;
    height: 12px;
}

.ed-judah-mingo-parent,
.forward-arrow-parent {
    position: absolute;
    top: 521px;
    left: 86px;
    width: 349px;
    height: 39px;
    overflow: hidden;
}

.ed-judah-mingo-parent {
    top: 200px;
    left: 200px;
    border-radius: var(--br-3xs);
    background-color: #e2e2e2;
    width: 519px;
    height: 583px;
    font-size: var(--font-size-base);
    color: var(--color-black);
}

.frame-parent2,
.home-page {
    height: 872px;
    overflow: hidden;
}

.frame-parent2 {
    position: absolute;
    top: 0;
    left: 252px;
    width: 892px;
    font-size: 12px;
    color: var(--color-gray-60);
}

.home-page {
    position: relative;
    background-color: var(--color-gray-10);
    width: 100%;
    text-align: left;
    font-size: var(--font-size-base);
    color: #264a8f;
    font-family: var(--font-inter);
}

.home-button button,
.create-button button,
.notification-button button,
.profile-button button,
.account-button button,
.settings-button button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: padding 0.3s ease; /* Add a smooth transition for padding */
    border-radius: 9px;
    padding: 0;
}

.logout-button button {
	color: red;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: padding 0.3s ease; /* Add a smooth transition for padding */
    border-radius: 9px;
    padding: 0;
}

.home-button button:hover,
.create-button button:hover,
.notification-button button:hover,
.profile-button button:hover,
.account-button button:hover,
.settings-button button:hover,
.logout-button button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 12px;
}

.dashboard {
    flex: 1;
    position: relative;
    font-size: var(--font-size-base);
    font-weight: 500;
    margin-left: 10px; /* Adjust margin as needed */
    font-family: var(--font-inter);
}

.heart-icon {
    position: absolute;
    top: 0;
    left: 82px; /* Adjusted position */
    width: 58px;
    height: 39px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.forward-arrow-icon {
    position: absolute;
    top: 0;
    left: 209px;
    width: 58px;
    height: 39px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}
