body {
	font-family: 'Arial', 'Roboto', 'Comic sans', sans-serif;
    margin: 0;
    padding: 0;
}

.create-an-account {
  position: relative;
  font-weight: 600;
}
.create-an-account-wrapper {
  position: absolute;
  top: 32px;
  left: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #343434;
}
.already-have-an {
  position: absolute;
  top: 666px;
  left: 30px;
  color: #6f74dd;
}
.frame-child {
  position: absolute;
  top: 39px;
  left: 17px;
  border-radius: var(--br-8xs);
  background-color: #d9d9d9;
  width: 469px;
  height: 55px;
}
.span {
  color: #ff0000;
}
.email-txt-container {
  width: 100%;
}
.email {
  position: absolute;
  top: 4px;
  left: 17px;
  display: flex;
  align-items: center;
  width: 130px;
  height: 35px;
}
.frame-div,
.rectangle-container,
.rectangle-group,
.rectangle-parent {
  position: absolute;
  top: 92px;
  left: 12px;
  width: 503px;
  height: 114px;
  overflow: hidden;
}
.frame-div,
.rectangle-container,
.rectangle-group {
  top: 186px;
}
.frame-div,
.rectangle-container {
  top: 280px;
}
.frame-div {
  top: 374px;
}
.frame-child1,
.frame-child2 {
  position: absolute;
  top: 39px;
  left: 17px;
  border-radius: 5px;
  background-color: #d9d9d9;
  width: 130px;
  height: 55px;
}
.frame-child2 {
  width: 140px;
}
.month {
  position: absolute;
  top: 49px;
  left: 27px;
  display: flex;
  align-items: center;
  width: 50px;
  height: 35px;
}
.frame-child3,
.frame-child4 {
  position: absolute;
  top: 39px;
  left: 346px;
  border-radius: var(--br-8xs);
  background-color: #d9d9d9;
  width: 140px;
  height: 55px;
}
.frame-child4 {
  left: 181px;
}
.day,
.year {
  position: absolute;
  top: 49px;
  left: 193px;
  display: flex;
  align-items: center;
  width: 50px;
  height: 35px;
}
.year {
  left: 357px;
}
.rectangle-parent1 {
  position: absolute;
  top: 468px;
  left: 12px;
  width: 503px;
  height: 114px;
  overflow: hidden;
}
.frame-child5 {
  position: absolute;
  top: 39px;
  left: 17px;
  border-radius: 5px;
  background-color: #135fd0;
  width: 469px;
  height: 55px;
}
.continue {
  position: absolute;
  top: 49px;
  left: 186px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 35px;
}
.rectangle-parent2 {
  position: absolute;
  top: 567px;
  left: 12px;
  width: 503px;
  height: 114px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.frame-parent {
  position: absolute;
  top: 111px;
  left: 430px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 48px 48px #384673, 0 0 1px #17328e;
  width: 527px;
  height: 712px;
  overflow: hidden;
}
.reg-page-sign-up {
  position: relative;
  background: linear-gradient(180deg, #5c656a 0.01%, #d1d1d1 50.1%, #6981c0);
  width: 100%;
  height: 933px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: "Open Sans";
}
