:root {
  /* fonts */
  --font-itf-devanagari-marathi: "ITF Devanagari Marathi";
  --font-inter: Inter;
  --font-secular-one: "Secular One";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xs: 12px;

  /* Colors */
  --background-light: #fff;
  --color-dimgray: #535558;
  --color-darkslategray: #223140;
  --color-goldenrod: rgba(236, 178, 45, 0.1);
  --color-black: #000;
  --color-gainsboro-200: rgba(217, 217, 217, 0.1);
  --color-gray-100: #202020;
  --color-mediumslateblue: #1361f5;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-8xl: 27px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
}
