body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.liked {
    filter: brightness(0) saturate(100%) invert(56%) sepia(96%) saturate(261%) hue-rotate(133deg) brightness(92%) contrast(92%);
    /* Add other styles to represent the liked state */
}

#newsFeedContainer {
    text-align: left;
    padding: 10px;
    margin: 0 auto;
    width: 600px;
    /* Adjust the width as needed */
}

#newsFeedContainer h1 {
    font-weight: bold;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Adjust the shadow values as needed */
}

#container {
    text-align: center;
    position: relative;
}

.user-profile-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    /* Updated border-radius */
    border: 1px solid #eee;
}

.user-profile-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.user-profile-container p {
    font-weight: bold;
    margin: 0;
    /* Add this line to remove default margin */
}

#whatsOnYourMindContainer {
    width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px auto 30px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 2;
}

#whatsOnYourMind {
    font-weight: bold;
    color: #333;
}

#whatsOnYourMindContainer:hover {
    background-color: #C0F5F1;
    /* Blue background on hover */
    transform: scale(1.05);
    /* Zoom in effect on hover */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
}

#overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -40%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 500px;
    height: 430px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 4;
    padding: 20px;
    text-align: center;
}

#overlayHeader {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

#closeButton {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

#closeButton img {
    width: 30px;
    height: 30px;
}

#lineUnderHeader {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    /* Increased margin-bottom */
}

#chooseFileContainer {
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
    position: relative;
}

#fileInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border: none;
    /* Make the border invisible */
}

#filePreview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#fileName {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    color: #555;
}

#postsContainer {
    position: relative;
    width: 600px;
    max-height: 440px;
    overflow-y: auto;
    margin-top: 10px !important;
    margin-bottom: 20px;
    z-index: 1;
    margin: 0 auto;
    overflow-y: auto;
    /* Add this line to enable vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    direction: ltr;
    /* Set direction to left-to-right */
}

#postsContainer::-webkit-scrollbar {
    width: 10px;
    /* Set the width of the scrollbar */
}

#postsContainer::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* Set the color of the scrollbar thumb to grey */
    border-radius: 5px;
    /* Set the radius of the scrollbar thumb */
}

#postsContainer::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set the color of the scrollbar track to transparent */
}

.post-container {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    border-radius: 8px;
    /* Apply rounded corners to the container */
    overflow: hidden;
    /* Ensure overflow is hidden to make rounded corners work */
}

.post {
    padding: 20px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-top: none;
}

.post img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    margin-top: 10px;
}

.post-content {
    margin-bottom: 10px;
    /* Adjust margin as needed */
}

.post-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 100px;
}

.post-buttons img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 5px;
    /* Adjusted margin */
}

input,
button {
    margin-bottom: 15px;
    /* Increased margin for the input and button */
    padding: 15px;
    /* Increased padding for the input and button */
    width: calc(100%);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#postText {
    border: none;
    /* Make the border invisible */
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#overlayContent #postCreateButton {
    background-color: #007BFF;
    /* Change to blue color code */
    color: #fff;
    border: 1px solid #007BFF;
    /* Match the border color */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#overlayContent #postCreateButton:hover {
    background-color: #0056b3;
    /* Darker blue color on hover */
    transform: scale(1.02);
    /* Zoom in effect on hover */
}